

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
  max-width: 100%;
  height: 100px;
  background-color: #fff;

  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.item:not(:last-of-type) {
  margin-bottom: 13px;
}

.name {
  padding-left: 40px;
   font-weight: 700;
  font-size: 24px;
 color: rgb(235, 81, 60);;
}

.avatar {
  padding-left: 15px;
  width: 60px;
}

.statusOnline {
  width: 20px;
  height: 20px;
  background-color: rgb(42, 160, 42);
  border-radius: 50%;
}

.statusOffline {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 66, 66);
  border-radius: 50%;
}