.transactionHistory {
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);

}

thead {
  background-color: rgb(235, 81, 60);
  color: #ffffff;
}

tr {
  text-align: center;
  height: 45px;
}

tr:nth-child(2n) {
  background-color: #f1f1f1;
}